/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* My CSS begins below the reset */
html {
    font-size:10px;
}
body {
    height:135vh;
    border:solid 0.2rem black;
    margin: 0 42rem;
}
header {
    border-bottom:2px solid black;
    height:18.5rem;
    background-color:grey;
}
h1 {
    font-size:5rem;
    padding:2rem;
}
h1:hover {
    text-transform:lowercase;
}
.bar {
    margin:0 2rem;
    width:100rem;
    height:1rem;
    background-color:black;
}
.navContainer {
    display:flex;
    align-items:center;
    padding:1rem;
    height:8rem;
}
nav .navItem {
    height:1.5rem;
    width:6rem;
   /* margin:0.5rem 0.5rem; */
    padding:1rem 1rem;
    font-size:1.5rem;
    text-decoration:none;
    text-align:center;
    color:black;
    background-color:rgb(30, 255, 161);
    border:0.2rem solid black;
}
#fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa {
    padding: 1rem;
    font-size: 3rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem 0.2rem;
}
.fa:hover {
    opacity: 0.7;
}
nav .navItem:hover {
    color:white;
    font-style:italic;
    background-color:black;
}
/* Figure out social media link
.fa {
    padding: 2rem;
    font-size: 3rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem 0.2rem;
  }
  .fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
  } */

.item1 {
    background-color:rgb(30, 255, 161);
    height:32rem;
    width:42rem;
    border:0.2rem black solid;
    margin: 1rem 1rem;
    padding:2rem;
}
.item2 {
    height:32rem;
    width:42rem;
    margin: 1rem 1rem;
    padding:2rem 2rem;
}
.item2 p {
    font-size:2.8rem;
    margin-top:1.5rem;
}
.item2 h3 {
    font-size:2.8rem;
    margin-top:3.5rem;
    margin-bottom:1.5rem;
}
.item2 h3:hover {
    text-transform:uppercase;
}
.item2 button {
    font-size:1.5rem;
    padding:1.5rem 3.5rem;
}
.item2 button:hover {
    background-color:black;
    color:white;
}
.item3 {
    background-color:lightgrey;
    height:19rem;
    width:19rem;
    border:0.2rem black solid;
    margin: 1rem 1rem;
    padding:2rem;
}
.item4 {
    background-color:lightgrey; 
    height:19rem;
    width:19rem;
    border:0.2rem black solid;
    margin: 1rem 1rem;
    padding:2rem;
}
.item5 {
    background-color:lightgrey; 
    height:19rem;
    width:19rem;
    border:0.2rem black solid;
    margin: 1rem 1rem;
    padding:2rem;
}
.item6 {
    background-color:lightgrey; 
    height:19rem;
    width:19rem;
    border:0.2rem black solid;
    margin: 1rem 1rem;
    padding:2rem;
}
.item7 {
    height:19rem;
    width:19rem;
    border:0.2rem black solid;
    margin: 1rem 1rem;
    padding:2rem;
    background-color:lightgrey;
}
.item8 {
    height:19rem;
    width:19rem;
    border:0.2rem black solid;
    margin: 1rem 1rem;
    padding:2rem;
    background-color:lightgrey;
}
.item9 {
    height:19rem;
    width:19rem;
    border:0.2rem black solid;margin: 1rem 1rem;
    padding:2rem;
    background-color:lightgrey;
}
.item10 {
    height:19rem;
    width:19rem;
    border:0.2rem black solid;
    margin: 1rem 1rem;
    padding:2rem;
    background-color:rgb(30, 255, 161);
}
.flexContainer {
    height:90rem;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-content:flex-start;
}
footer {
    padding:2rem;
    text-align:center;
    border-top:2px solid black;
    background-color:grey;
    height:14rem;
}
.footContainer {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
/* .foot1 {
    height:11rem;
    width:20rem;
    background-color:white;
}
.foot2 {
    height:11rem;
    width:16rem;
    background-color:white;
} */
.foot1 {
    height:10rem;
    width:30rem;
    background-color:#787878;
}
.foot2 {
    height:8rem;
    width:30rem;
    background-color:#787878;
}

footer h3 {
    font-size:2.5rem;
    margin-bottom:2rem;
}
footer button {
    font-size:1.5rem;
    padding:1.5rem;
    background-color:rgb(30, 255, 161);
}
footer button:hover {
    font-style:italic;
    color:white;
    background-color:black;
}
footer .foot2 p {
    margin-top:1.5rem;
    font-size:2rem;
}
